@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.theme {
    border: none;
    background: #09ee;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #444;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}


.theme:hover {
    transition: 0.2s all linear;
    background: #fff;
}



.container {
    margin-top: 2em;
}

.title {
    width: 40%;
    margin: 2em auto;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgb(30, 247, 1);
    animation: titleAnimation 1s ease-in-out;
}

@keyframes titleAnimation {
    0% {
        transition: 0.3s all linear;
        transform: translateY(-500px);
    }100% {
        transition: 0.3s all linear;
        transform: translateY(-0px);
    }


}

.buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.options, .btn-reset {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(76, 0, 255);
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}

.options:hover {
    transition: 0.2s all linear;
    background: rgb(25, 25, 179);
}

.game-init {
    display: flex;
    justify-content: center;
}


.game {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    border-radius: 0.5rem;
}

.case {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    width: 30%;
    height: 150px;
    border-radius: 0.5rem;
    border: 1px solid rgb(30, 247, 1);
}

.case:hover {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(25, 25, 179);
}

.item {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.multiply, .circle {
    color: #f14;
}

.visible, .popup {
    display: none;
}


.winner {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    font-weight: 800;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    color: #fff;
    background: #000;
}

.end {
    display: flex;
    color: #4b4b4b;
    justify-content: center;
    align-items: flex-ends;
}